body {
	background-image:url("../../images/love.png");
	background-size:cover;
	background-size:110% 500%;
}
h1 {
	color:blue;
	text-align:center;
	font-size:100px;
}
h2 {
	color:red;
	text-indent:50px;
	font-size:25px;
}
p {
	background-color:white;
	color:black;
	text-indent:88px;
	font-size:22px;
